.Cuerpo{
    width: 1350px;
    margin-top: -10PX;
    margin-left: -10px;
}
.qr{
    width: 190px;
    height: 180px;
    margin-top: -4500px;
    margin-left: -240;
}
a{
    margin-left: 15PX;
}